<a href="https://colab.research.google.com/github/hmead15/LambData-1/blob/master/HM_Code_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
pip install -i https://test.pypi.org/simple/ LambData-bh0ss==0.0.4

Looking in indexes: https://test.pypi.org/simple/
ERROR: Could not find a version that satisfies the requirement LambData-bh0ss==0.0.4 (from versions: 0.0.1, 0.0.2, 0.0.3)
ERROR: No matching distribution found for LambData-bh0ss==0.0.4

In [9]:
import pandas as pd
import numpy as np
test_df = pd.DataFrame(np.random.randint(0, 100, size=(15, 4)), columns=list("ABCD"))

In [10]:
test_df.head()

    A   B   C   D
0  75  68  46   2
1  34  95  72   6
2  13  73  46  48
3  74  84  64  34
4   2  99  43  98

In [11]:
test_df = LambData-bh0ss.CleanDataFrame

NameError: ignored

In [12]:
test_df = CleanDataFrame

NameError: ignored

In [ ]:
# Notes:
# Imported to colab with no problem
# Easy to follow, clear code
# instantiation problems - can't call methods
# we spoke over slack about troubleshooting issues